flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cashe files
# files ending in .cashe can be ignored
*.[Cc]ache
# but keep track of directories ending in .cashe
!*.[Cc]ache/
